# Node.js
node_modules/
.env
npm-debug.log*
dist/
coverage/
.DS_Store
*.log
*.tmp
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.bak
*.pid
*.seed
*.tgz
*.gz
*.zip
*.tar
*.tar.gz
*.bak
*.old
*.orig
*.rej
*.patch
*.tmp
*.temp
*.cache
*.lock
*.sqlite
*.sqlite3
*.db
*.db3
*.sublime*
Thumbs.db
bin/
